/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 
 
 /** BASICS **/
 
 img {
	 max-width: 833px;
	 height: auto;
 }
 
 .stButton .st-twitter-counter,
 .stButton .st-facebook-counter,
 .stButton .st-yahoo-counter,
 .stButton .st-linkedin-counter {
	height: 22px !important;
}


/** TITLE **/

.region-sidebar-second h2.block-title {
	font-size: 27px;
}

.page-actualites h1.page-header {
	width: 1140px;
}
 
 /** NAVIGUATION BAR **/

.navbar.container {
	width: 1140px !important;
}

div.navbar-collapse.collapse {
	background-color: #fff;
	border: none;
	min-height: 160px;
	max-height: 160px;
	padding: 15px 0px 0px;
}

.navbar {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default {
	background-image: none;
	background-repeat: no-repeat;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: none;
}

ul.menu.nav.navbar-nav:first-child li:first-child a {
	background-image: url('../images/logo.png');
	background-size: cover;
	background-color: #fff;
	height: 140px;
	width: 232px;
	font-size: 0px;
	display: inline-block;
	margin: 0 auto;
	margin-right: 30px;
}

header#navbar{
    color: #ffffff;
    overflow: auto;
    min-height: 50px;
}

header .navbar.container{
    margin-top: 0px;
}

.navbar-default, .navbar-collapse {
    background: none;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    background-image: none;
	background-repeat: no-repeat;
	box-shadow: none;
}

ul.menu.nav.navbar-nav:first-child li.leaf:first-child {
	position: relative;
	top:0;
	left:0;
}
.menu.nav.navbar-nav:first-child li.leaf {
	position: relative;
	top: 95px;
	margin-right: 10px;
}

.menu.nav.navbar-nav:first-child li a {
	background: #00aeef;
	color: #fff;
}

.menu.nav.navbar-nav:first-child li a:hover {
	background:#3fcaff;
	color: #fff;
}

.nav li {
	display: inline-block;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

header#page-header {
	width: 250px;
	position: relative;
	left: 870px;
	top: -47px;
}

#page-header #block-on-the-web-0 {
	display: none;
}


/** ACTUALITES BLOCK & PAGE **/

#block-views-discussions-block-1 h2.block-title,
.page-actualites h1.page-header {
	background:#00aeef;
	color: #fff;
	padding: 12px 15px;
	margin-bottom: 30px;
	border-bottom: none;
	font-size: 30px;
}

.page-actualites .region-sidebar-second {
	position: relative;
	top: 85px;
	padding-right: 15px;
}

#block-views-discussions-block-1 h2.block-title {
	width: 1140px;
}

#block-views-discussions-block h2.block-title {
	display: none;
}

#block-views-discussions-block-1 .views-field-field-post-image {
	float: none;
	width: 830px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#block-views-discussions-block-1 .views-field-field-post-image img {
	max-width: 817px;
	height: auto;
	margin-bottom: 20px;
	max-height: auto;
	position: absolute;
	top: -20%;
}

#block-views-discussions-block .views-row,
.view-discussions .views-row,
.page-actualites .region-content .views-row {
	margin-bottom: 40px;
	min-height: 147px;
	padding: 0px 15px;
}

#block-views-discussions-block-1 .views-row {
	margin-bottom: 50px;
}

#block-views-discussions-block .views-row:last-child {
	margin-bottom: 40px;
}

#block-views-discussions-block .views-field-title,
#block-views-discussions-block .views-field-created,
#block-views-discussions-block .views-field-field-post-category,
#block-views-discussions-block .views-field-field-post-tag,
#block-views-discussions-block .views-field-body,
.view-discussions .views-field-title,
.view-discussions .views-field-created,
.view-discussions .views-field-field-post-category,
.view-discussions .views-field-field-post-tag,
.view-discussions .views-field-body,
.page-actualites .region-content .views-field-title,
.page-actualites .region-content .views-field-created,
.page-actualites .region-content .views-field-field-post-category,
.page-actualites .region-content .views-field-field-post-tag,
.page-actualites .region-content .views-field-body {
	margin-bottom: -2px;
}

#block-views-discussions-block .views-field-field-post-image,
.view-discussions .views-field-field-post-image,
.page-actualites .region-content .views-field-field-post-image {
	float: left;
	margin-right: 30px;
}

#block-views-discussions-block .views-field-field-post-image a,
.view-discussions .views-field-field-post-image a,
.page-actualites .region-content .views-field-field-post-image a {
	display: block;
}

#block-views-discussions-block .views-field-field-post-image img,
.page-actualites .region-content .views-field-field-post-image img {
	max-height: 147px;
}

#block-views-discussions-block .views-field-view-node a,
.view-discussions .views-field-view-node a,
.page-actualites .region-content .views-field-view-node a {
	color: #428BCA;
	border: 0.1em solid #428BCA;
	padding: 6px;
	position: relative;
	top: 11px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
}

#block-views-discussions-block .views-field-view-node a:hover,
#block-views-discussions-block .views-field-view-node a:active,
.view-discussions .views-field-view-node a:hover,
.view-discussions .views-field-view-node a:active,
.page-actualites .region-content .views-field-view-node a:hover,
.page-actualites .region-content .views-field-view-node a:active {
	color: #00aeef;
	border: 0.1em solid #00aeef;
	padding: 6px;
	position: relative;
	top: 11px;
	text-decoration: none;
}

#block-views-discussions-block .views-field-title a,
.view-discussions .views-field-title a,
.page-actualites .region-content .views-field-title a {
	font-size: 20px;
	color: #428BCA;
}

#block-views-discussions-block .views-field-title a:hover,
#block-views-discussions-block .views-field-title a:active,
.view-discussions .views-field-title a:hover,
.view-discussions .views-field-title a:active,
.page-actualites .region-content .views-field-title a:hover,
.page-actualites .region-content .views-field-title a:active {
	color: #00aeef;
	text-decoration: none;
}

#block-views-discussions-block .views-field-field-post-tag a,
#block-views-discussions-block .views-field-field-post-category a,
.view-discussions .views-field-field-post-tag a,
.view-discussions .views-field-field-post-category a,
.page-actualites .region-content .views-field-field-post-tag a,
.page-actualites .region-content .views-field-field-post-category a {
	color: #428BCA;
}

#block-views-discussions-block .views-field-field-post-tag a:hover,
#block-views-discussions-block .views-field-field-post-tag a:active,
#block-views-discussions-block .views-field-field-post-category a:hover,
#block-views-discussions-block .views-field-field-post-category a:active,
.view-discussions .views-field-field-post-tag a:hover,
.view-discussions .views-field-field-post-tag a:active,
.view-discussions .views-field-field-post-category a:hover,
.view-discussions .views-field-field-post-category a:active,
.page-actualites .region-content .views-field-field-post-tag a:hover,
.page-actualites .region-content .views-field-field-post-tag a:active,
.page-actualites .region-content .views-field-field-post-category a:hover,
.page-actualites .region-content .views-field-field-post-category a:active {
	color: #00aeef;
	text-decoration: none;
}

#block-views-discussions-block .views-field-created,
#block-views-discussions-block .views-field-field-post-tag,
#block-views-discussions-block .views-field-field-post-tag div,
#block-views-discussions-block .views-field-field-post-category,
#block-views-discussions-block .views-field-field-post-category div,
.view-discussions .views-field-created,
.view-discussions .views-field-field-post-tag,
.view-discussions .views-field-field-post-tag div,
.view-discussions .views-field-field-post-category,
.view-discussions .views-field-field-post-category div,
.page-actualites .region-content .views-field-created,
.page-actualites .region-content .views-field-field-post-tag,
.page-actualites .region-content .views-field-field-post-tag div,
.page-actualites .region-content .views-field-field-post-category,
.page-actualites .region-content .views-field-field-post-category div {
	display: inline-block;
	font-size: 11px;
	color: rgba(0,0,0,0.4);	
}

#block-views-discussions-block .views-field-field-post-tag:before,
#block-views-discussions-block .views-field-field-post-category:before,
.view-discussions .views-field-field-post-tag:before,
.view-discussions .views-field-field-post-category:before,
.page-actualites .region-content .views-field-field-post-tag:before,
.page-actualites .region-content .views-field-field-post-category:before {
	content: '- ';
}

#block-views-discussions-block .more-link {
	text-align: center;
	padding-bottom: 40px;
	margin-bottom: 10px;
}

#block-views-discussions-block .more-link a {
	text-transform: uppercase;
	color: rgba(0,0,0,0.35);
	padding: 10px 14px;
	border: 0.15em solid rgba(0,0,0,0.3);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	display: block;
	width: 96%;
	margin: 0px auto 0px;
}

#block-views-discussions-block .more-link a:hover,
#block-views-discussions-block .more-link a:active {
	background-color: rgba(0,0,0,0.01);
	color: rgba(0,0,0,0.4);
	border: 0.15em solid rgba(0,0,0,0.35);
	text-decoration: none;
}

.view-discussions .views-field-sharethis,
.page-actualites .region-content .views-field-sharethis {
	float: right;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.page-actualites .region-content .views-row:hover > .views-field-sharethis {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.view-discussions .stButton .st-twitter-counter,
.view-discussions .stButton .st-facebook-counter,
.view-discussions .stButton .stFb,
.view-discussions .stButton .stTwbutton,
.view-discussions .stButton .stMainServices,
.page-actualites .region-content .st-twitter-counter,
.page-actualites .region-content .st-facebook-counter,
.page-actualites .region-content .stFb,
.page-actualites .region-content .stTwbutton,
.page-actualites .region-content .stMainServices {
	height: 22px !important;
	position: relative;
	top: -9px;
}


/** ACTUALITES FILTRES **/

#block-views-discussions-block-3 .view-display-id-block_3 ul {
	list-style: none;
}

/** CALENDAR BLOCK **/

.view-header {
	display: none;
}

.front .region-sidebar-second {
	position: relative;
	top: 85px;
	padding-right: 15px;
}

.month.mini-day-on {
	background-color: rgba(0,174,239,0.05);
}

.calendar-calendar tr td.today {
	background-color: rgba(0,174,239,0.15);
}

.month.mini-day-on a {
	color: #428BCA;
	font-weight: bold;
	text-decoration: none;
	display: block;
}

.month.mini-day-on a:hover {
	color: #00aeef;
	text-decoration : none;
}

.jcarousel-container {
	width: 263px !important;
}

.jcarousel-clip {
	width: 182px !important;
}


/** FORMATIONS BLOCK **/

#block-views-undp-formation-block h2.block-title,
.page-formations h1.page-header {
	background:#00aeef;
	color: #fff;
	padding: 12px 15px;
	margin-bottom: 30px;
	font-size: 30px;
}

#block-views-undp-formation-block .views-row {
	margin-bottom: 40px;
	min-height: 147px;
	padding: 0px 15px;
	display: inline-block;
	width: 279px;
	vertical-align:top;
}

.view-undp-formation .views-row{
	margin-bottom: 40px;
	min-height: 147px;
	padding: 0px 15px;
	display: inline-block;
	width: 282px;
	vertical-align: top;
}

#block-views-undp-formation-block .views-field-field-formation-image,
.view-undp-formation .views-field-field-formation-image {
	margin-bottom: 20px;
}

#block-views-undp-formation-block .views-field-field-formation-image img {
	width: auto;
	min-height: 166px;
	max-height: 166px;
}

.view-undp-formation .views-field-field-formation-image img {
	width: 251px;
	height: auto;
	max-height: 167px;
}

.front #block-views-undp-formation-block  .views-field-view-node {
	display: none;
}

#block-views-undp-formation-block .views-field-view-node a,
.view-undp-formation .views-field-view-node a {
	color: #428BCA;
	border: 0.1em solid #428BCA;
	padding: 6px;
	position: relative;
	top: 13px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
}

#block-views-undp-formation-block .views-field-view-node a:hover,
.view-undp-formation .views-field-view-node a:hover {
	color: #00aeef;
	border: 0.1em solid #00aeef;
	padding: 6px;
	position: relative;
	top: 13px;
	text-decoration: none;
}

#block-views-undp-formation-block .views-field-title a,
.view-undp-formation .views-field-title a {
	font-size: 20px;
	color: #428BCA;
}

#block-views-undp-formation-block .views-field-title a:hover,
.view-undp-formation .views-field-title a:hover {
	color: #00aeef;
	text-decoration: none;
}

#block-views-undp-formation-block .views-field-field-post-tag a,
#block-views-undp-formation-block .views-field-field-post-category a {
	color: #428BCA;
}

#block-views-undp-formation-block .views-field-field-post-tag a:hover,
#block-views-undp-formation-block .views-field-field-post-category a:hover {
	color: #00aeef;
	text-decoration: none;
}

#block-views-undp-formation-block .views-field-created,
#block-views-undp-formation-block .views-field-field-post-tag,
#block-views-undp-formation-block .views-field-field-post-tag div,
#block-views-undp-formation-block .views-field-field-post-category,
#block-views-undp-formation-block .views-field-field-post-category div {
	display: inline-block;
	font-size: 11px;
	color: rgba(0,0,0,0.4);
}

#block-views-undp-formation-block .views-field-field-post-tag:before,
#block-views-undp-formation-block .views-field-field-post-category:before
 {
	content: '- ';
}

#block-views-undp-formation-block .more-link {
	text-align: center;
}

#block-views-undp-formation-block .more-link a {
	text-transform: uppercase;
	color: rgba(0,0,0,0.35);
	padding: 10px 14px;
	border: 0.15em solid rgba(0,0,0,0.3);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	display: block;
	width: 96%;
	margin: 0px auto 0px;
}

#block-views-undp-formation-block .more-link a:hover {
	background-color: rgba(0,0,0,0.01);
	color: rgba(0,0,0,0.4);
	border: 0.15em solid rgba(0,0,0,0.35);
	text-decoration: none;
}


/** EVENTS **/

.page-evenements h1.page-header {
	background:#00aeef;
	color: #fff;
	padding: 12px 15px;
	margin-bottom: 30px;
	border-bottom: none;
	font-size: 30px;
}

.page-evenements #block-views-calendar-block-1 {
	width: 263px;
	float: right;
	padding-right: 15px;
}

.page-evenements #block-system-main {
	padding-left: 15px;
	width: 833px;
}

.jcarousel-skin-default .jcarousel-container-vertical {
	padding: 0px;
}

.jcarousel-skin-default .jcarousel-container-vertical,
.jcarousel-skin-default .jcarousel-clip-vertical {
	height: 270px;
}

.jcarousel-clip {
	width: 263px !important;
}

.jcarousel-clip {
	border: 0px;
}

.jcarousel-skin-default .jcarousel-item {
	width: 248px;
	border: 0px;
	min-height: 130px;
}

.jcarousel-skin-default .jcarousel-item .views-field-title,
.jcarousel-skin-default .jcarousel-item .views-field-body {
	text-align: left;
}

.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
	display: none;
}

#block-views-calendar-block-1 h2 {
	display: none;
}

.view-new-event .views-row {
	margin-bottom: 40px;
	min-height: 105px;
}

.view-new-event .more-link a {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.35);
	padding: 10px 14px;
	border: 0.15em solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	display: block;
	width: 100%;
	margin: 10px auto 0px;
	text-align: center;
}

.view-new-event .more-link a:hover,
.view-new-event .more-link a:active {
	background-color: rgba(0, 0, 0, 0.01);
	color: rgba(0, 0, 0, 0.4);
	border: 0.15em solid rgba(0, 0, 0, 0.35);
	text-decoration: none;
}

.upcoming-date {
	display: block;
	width: 60px;
	float: left;
	margin-right: 20px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 40px;
}

.upcoming-date .month {
	display: block;
	background: #00aeef;
	color: #fff;
}

.upcoming-date .day {
	display: block;
	font-size: 20px;
	padding: 5px 0px;
}

.view-new-event .views-field-view-node a {
	color: #428BCA;
	border: 0.1em solid #428BCA;
	padding: 6px;
	position: relative;
	top: 11px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
}

.view-new-event .views-field-title {
	font-size: 20px;
}

.view-new-event .views-field-view-node a:hover,
.view-new-event .views-field-view-node a:active {
	color: #00aeef;
	border: 0.1em solid #00aeef;
	padding: 6px;
	position: relative;
	top: 11px;
	text-decoration: none;
}

.node-event-calendar .content {
	position: relative;
}

.node-event-calendar .field-name-event-calendar-date,
.node-event-calendar .field-name-body,
.node-event-calendar .field-name-field-event-location-geo,
.node-event-calendar .field-name-field-event-adress {
	width: 833px;
}

.node-event-calendar .field-name-event-calendar-date {
	margin: 30px 0px 5px;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0px 0px;
}

.node-event-calendar .field-name-field-event-adress {
	margin-bottom: 10px;
}

.node-event-calendar .sharethis-buttons {
	height: 45px;
	padding: 10px 0px;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 30px 0px 0px;
	width: 833px;
}

.node-event-calendar .sharethis-buttons .sharethis-wrapper:before {
	content:'Partager cet événement :';
	color: rgba(0,0,0,0.5);
	padding-right: 5px;
	position: relative;
	top: 1px;
}

.node-event-calendar .field-name-field-event-image {
	height: 300px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.node-event-calendar .field-name-field-event-image img {
	height: auto;
	position: absolute;
	top: -20%;
}

.node-event-calendar .field-name-field-event-adress .field-items .field-item div,
.node-event-calendar .field-name-field-event-adress .field-items .field-item span {
	float:left;
}

.node-event-calendar .field-name-field-event-adress .field-items .field-item .addressfield-container-inline:before,
.node-event-calendar .field-name-field-event-adress .field-items .field-item .street-block:before {
	content:'-';
	padding: 0px 5px;
}

.node-event-calendar .field-name-field-event-location-geo .field-items {
	height: 342px;
	overflow: hidden;
}

.node-event-calendar .flag-outer a {
	color: #428BCA;
	border: 0.1em solid #428BCA;
	padding: 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	display: block;
	width: 263px;
	text-align: center;
}

.node-event-calendar .flag-outer a:hover,
.node-event-calendat .flag-outer a:active {
	color: #00aeef;
	border: 0.1em solid #00aeef;
	padding: 6px;
	text-decoration: none;
}

.node-event-calendar .flag-outer a.unflag-action {
	color: #fff;
	border: 0.1em solid #428BCA;
	background: #428BCA;
}

.flag-waiting .flag-throbber {
	float: right;
	position: relative;
	top: -24px;
	left: -10px;
	display: none;
}

.node-event-calendar .flag-outer-attend {
	position: absolute;
	top:0px;
	right: 0px;
}

.node-event-calendar .flag-outer-like {
	position: absolute;
	top:40px;
	right: 0px;
}

.node-event-calendar .flag-outer-like .flag-message {
	display: none !important;
}

.node-event-calendar .flag-outer-recommend {
	position: absolute;
	top:80px;
	right: 0px;
}




/** FOOTER **/

.footer.container {
	background-color: rgba(218,178,127,0.8);
	margin: 45px auto 0px;
	padding: 0;
}

#block-undp-config-undp-footer-menu {
	float: right;
	width: 300px;
	background-color: #cfa97a;
	padding: 30px 20px;
}

#block-undp-config-undp-footer-menu h2 {
	color: #fff;
	font-size: 20px;
}

#block-undp-config-undp-footer-menu ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}

#block-undp-config-undp-footer-menu ul li a {
	color: #fff;
}

#block-undp-config-undp-footer-menu ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

#block-undp-config-undp-a-propos {
	width: 833px;
	padding: 30px 20px 0px 20px;
	color: #fff;
}

#block-undp-config-undp-a-propos h2 {
	margin-top: 0px;
}

#block-system-powered-by {
	display: none;
}

.footer #social {
	display: block;
	margin-top: 20px;
}

.footer #social .twitter {
	background-image: url('http://undp.local/sites/all/themes/undp/images/Twitter_Logo_Silhouette_128.png');
	width: 25px;
	height: 25px;
	background-size: cover;
	display: inline-block;
	margin-right: 20px;
}

.footer #social .facebook {
	background-image: url('http://undp.local/sites/all/themes/undp/images/Facebook_logo_128.png');
	width: 25px;
	height: 25px;
	background-size: cover;
	display: inline-block;
	margin-right: 20px;
}

.footer #social .linkedin {
	background-image: url('http://undp.local/sites/all/themes/undp/images/Linkedin_logo_128.png');
	width: 25px;
	height: 25px;
	background-size: cover;
	display: inline-block;
}


/** COMMENTS **/


.comment-wrapper h2.title.comment-form {
	background-color: rgba(0, 173, 239, 0.1);
	padding: 20px;
	margin-bottom: 0px;
}

.comment-wrapper form#comment-form {
	background-color: rgba(0, 173, 239, 0.1);
	padding: 20px;
}

#edit-comment-body-und-0-format {
	display: none;
}

div.comment div.content {
	display: inline-block;
	width:87%;
}

div.comment ul.links {
	display: inline-block;
}

div.comment ul.links li {
	padding-right: 5px;
	padding-left: 0px;
}

div.comment ul.links li a {
	color: #428BCA;
	border: 0.1em solid #428BCA;
	padding: 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
}

div.comment ul.links li a:hover,
div.comment ul.links li a:active {
	color: #00aeef;
	border: 0.1em solid #00aeef;
	padding: 6px;
	text-decoration: none;
}



fieldset.webform-component-fieldset{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
fieldset.webform-component-fieldset.panel-default > .panel-heading{
    font-size: 2em;
    font-weight: 100;
    line-height: 2em;
}
fieldset.webform-component-fieldset.panel-default > .panel-heading a{
    font-size: 2em;
}
fieldset.webform-component--contact-info.panel-default > .panel-heading {
    background: #ff8259;
    color: #ffffff;
}
fieldset.webform-component--contact-info .form-control,fieldset.webform-component--contact-info .form-email{

    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
}
fieldset.webform-component--demographic-info .form-control{

    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    width: 49%;
    float: left;
}
fieldset.webform-component--demographic-info.panel-default > .panel-heading {
    background: #e270d3;
    color: #ffffff;
}
fieldset.webform-component--professionnal-info.panel-default > .panel-heading {
    background: #48bbbe;
    color: #ffffff;
}
fieldset.webform-component--informations-of-friend.panel-default > .panel-heading {
    background: #4cde8a;
    color: #ffffff;
}
fieldset .form-control,fieldset .form-email{
    height: 54px;
    line-height: 28px;
    font-weight: 100;
    font-size: 2em;
    -webkit-border-radius: px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border:none;
    border-bottom: 1px solid #e1e1e1;
}
fieldset .form-email{
    background-color: #fff;
    background-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
